.card {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid gray;
  width: fit-content;
  display: flex;
  flex: row wrap;
}

.card img {
  max-width: 100px;
}

.card .content {
  margin-left: 15px;
}